<h1>{{title}}</h1>
<div id="error" class="error">{{error}}</div>
{{#if loggedIn}}
    <form method="post" id="removeShelterList">
        <button type="submit" id="sbtn">Remove this shelter</button>
    </form>
{{else}}
    <p>You must be logged in to remove a shelter!</p>
{{/if}}