<h1>{{title}}</h1>
<div id="removeerror" class="error">{{error}}</div>
<form method="post" id="removeShelter">
    <label id="idFormLabel">
        Shelter ID
        <input type="text" id="shelterID" name="shelterID" placeholder="Shelter ID"/>
    </label>
    <button type="submit">Remove Shelter</button>
</form>