<h1>{{title}}</h1>
<div id="error" class="error">{{error}}</div>
<form method="post" id="deletePet">
    <label id="deletePetLabel">
        Pet ID
        <input type="text" id="petID" name="petID" placeholder="Pet ID"/>
    </label>
    <label id="petTypeLabel">
        Dog or Cat
        <input type="text" id="petType" name="petType" placeholder="Dog/Cat"/>
    </label>
    <button type="submit">Delete Pet</button>
</form>