<h1>{{title}}</h1>
<div id="error" class="error">{{error}}</div>
{{#if loggedIn}}
    <form method="post" id="savePet">
        <button type="submit" id="btn">Save this pet!</button>
    </form>
{{else}}
    <p>You must be logged in to save a pet!</p>
{{/if}}