<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Marcellus"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Libre+Baskerville"
    />
  </head>
  <body>
    <header>
      <div class="topnav">
        <a href="/">Home</a>
        <a href="/shelters">Shelters</a>
        <div class="profile-dropdwn">
          <button class="profile-dropbtn">Profile</button>
          <div class="profile-items">
            <a href="/users/login">My Profile</a>
            {{#if loggedIn}}
            <a href="/users/logout">Logout</a>
            {{else}}
            <a href="/users/login">Login</a>
            {{/if}}
          </div>
        </div>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <div class="div-bg"></div>
    </footer>
    <script src="../../public/js/helpers.js"></script>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script src="../../public/js/login.js"></script>
    <script src="../../public/js/register.js"></script>
    <script src="../../public/js/review.js"></script>
    <script src="../../public/js/add.js"></script>
    <script src="../../public/js/remove.js"></script>
    <script src="../../public/js/comment.js"></script>
    <script src="../../public/js/deleteComment.js"></script>
    <script src="../../public/js/addPet.js"></script>
    <script src="../../public/js/deletePet.js"></script>
    <script src="../../public/js/searchShelter.js"></script>
  </body>
</html>